* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 190px;
    height: 180px;
    background: #ddd;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    /* text-align: center;
    line-height: 60px; */
}

.login {
    width: 145px;
    padding: 5px;
    font-size: 15px;
    outline: 0;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

/* 
.bot_enviar {
    padding: 5px;
    margin-top: 20px; 
    margin-left: 25px;
    display: block;
} */
